// Brand Color
$color-primary: #409EFF;

// Functional Color
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

// Font Color
$text-color-primary: #303133;
$text-color-regular: #606266;
$text-color-secondary: #909399;
$text-color-placeholder: #C0C4CC;

// Border Color
$border-color-base: #DCDFE6;
$border-color-light: #E4E7ED;
$border-color-lighter: #EBEEF5;
$border-color-extra-light: #F2F6FC;

// Background Color
$color-white: #FFFFFF;
$color-black: #000000;
$background-color-base: #F5F7FA;
