html,
body {
  height: 100%;
}

body {
  color: $text-color-primary;
  font-size: 16px;
}

p {
  line-height: 1.5;
}

b {
  font-weight: bold;
}

@font-face {
  font-family: jgw;
  src: url('../font/甲骨文.ttf');
}

@font-face {
  font-family: jwdz;
  src: url('../font/金文大篆体.ttf');
}

@font-face {
  font-family: zszd;
  src: url('../font/篆书字典.ttf');
}

@font-face {
  font-family: gfls;
  src: url('../font/秦韵古风隶书.ttf');
}
